body {background-color: #ebfffa}
h1 {color: #72d6c9}
h3 {color: #7ed3b2}
p {color: #679b9b}
table {color: #679b9b}
ol {color: #679b9b}
hr {border-color: #d4d7dd;
    border-style: dotted none none;
    border-width: 5px;
    width: 10%;}
